.step-header-wrapper {
}
.step-content-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 4rem 10rem;

  .step-content {
    margin-top: 2rem;
    flex: 1 1 auto;
    display: flex;
    justify-content: center;

    form {
      width: 70%;
    }
  }
}
